<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books/success/main</title>
</head>
<body>
    <h1>Welcome , user {{request.session.user_id}} </h1>
    <h2>Welcome your name is :   {{user.name}}</h2>
    <p>{{user.email}}</p>
    <br><br>
<a href="/logout">logout</a>
<a href="/add">add</a>


<h1>Display Recent Book Reviews</h1>
        {% for review in reviewsy %}
            <h5>{{review.content}}</h5>
            <p>{{review.reviewer.name}}</p>
            <p>{{review.rating}}</p>
            <a href="/book/{{review.book.id}}">{{review.book.title}}</a>
            <p>{{review.book.id}}</p>
        {% endfor %}

<h1>Other Books with Reviews</h1>

{% for book in books %}
    <p><a href="/book/{{book.id}}">{{book.title}}</a></p>
    <!-- <p>{{book.id}}</p> -->
{% endfor %}
</body>
</html>